:root {
  --main-font: serif;
  --title-font: "New Rocker", cursive;
  --main-color: #fff;
  --background-color: #1b1b1b;
  --accent-color: #614bc3;
}

body {
  background-color: var(--background-color);
  color: var(--main-color);
}

h3 {
  font-family: var(--main-font);
  font-size: 35px;
}

h4 {
  font-family: var(--title-font);
  font-size: 55px;
}

p {
  font-family: var(--main-font);
}

.hero {
  text-align: center;
  padding: 100px;
}

.hero h1,
h2 {
  font-family: var(--title-font);
}

.hero h1 {
  font-size: 80px;
}

.btn-branding {
  font-family: var(--main-font);
  border: 1px solid;
  color: var(--main-color);
}

.btn:hover {
  color: var(--background-color);
  background-color: var(--main-color);
}

.contact-link {
  text-decoration: none;
  color: var(--main-color);
}

.contact-link:hover {
  color: var(--accent-color);
}

.content-img,
.gallery-img {
  border-radius: 8px;
}

.gallery-img {
  margin-top: 30px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px !important;
  }

  .content {
    text-align: center;
  }

  .content-img {
    display: none;
  }

  .gallery-img {
    margin-bottom: 10px;
  }

  .content-btn {
    display: block;
    text-align: center;
    margin: 20px 80px;
  }

  .card {
    margin-bottom: 20px;
  }
}
