:root {
  --main-font: "Alegreya", serif;
  --title-font: "New Rocker", cursive;
  --main-color: #fff;
  --background-color: #1b1b1b;
}

body {
  background-color: var(--background-color);
  color: var(--main-color);
}

h3 {
  font-family: "Alegreya", serif;
  font-size: 35px;
}

.hero {
  text-align: center;
  padding: 100px;
}

.hero h1,
h2 {
  font-family: var(--title-font);
}

.hero h1 {
  font-size: 80px;
}

.btn-branding {
  font-family: var(--main-font);
  border: 1px solid;
  color: var(--main-color);
}

.contact-link:hover {
  color: var(--background-color);
  background-color: var(--main-color);
}
