:root {
  --main-font: serif;
  --title-font: "New Rocker", cursive;
  --main-color: #fff;
  --secondary-color: #2b3035;
  --background-color: #1b1b1b;
  --accent-color: #b598ef;
}

body {
  background-color: var(--background-color);
  color: var(--main-color);
}

h3 {
  font-family: var(--main-font);
  font-size: 35px;
}

h4 {
  font-family: var(--title-font);
  font-size: 55px;
}

p {
  font-family: var(--main-font);
}

.hero {
  text-align: center;
  padding: 100px;
}

.hero h1,
h2 {
  font-family: var(--title-font);
}

.hero h1 {
  font-size: 80px;
}

.btn-branding {
  font-family: var(--main-font);
  border: 1px solid;
  color: var(--main-color);
}

.btn:hover {
  color: var(--background-color);
  background-color: var(--main-color);
}

.content-img,
.gallery-img {
  border-radius: 8px;
}

.gallery-img {
  margin-top: 30px;
}

.section-highlight {
  background-color: var(--secondary-color);
  padding: 50px;
  border-radius: 8px;
}

.section-highlight h2 {
  font-size: 60px;
}

.section-highlight a {
  font-size: 30px;
}

.link-branding {
  text-decoration: none;
  color: var(--main-color);
}

.link-branding:hover {
  color: var(--accent-color);
}

footer {
  margin-top: 80px;
}

footer .email-link {
  font-size: 22px;
}

footer .social-links a {
  color: white;
  margin: 0px 20px;
  background-color: #2b3035;
  padding: 10px 14px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: var(--accent-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px !important;
  }

  .hero {
    padding: 30px 10px 40px 10px;
  }

  .hero a {
    margin-top: 15px !important;
  }

  .section-highlight h2 {
    font-size: 30px;
  }

  .section-highlight a {
    font-size: 20px;
  }

  .content {
    text-align: center;
  }

  .content-img {
    display: none;
  }

  .gallery-img {
    margin-bottom: 10px;
  }

  .content-btn {
    display: block;
    text-align: center;
    margin: 20px 80px;
  }

  .card {
    margin-bottom: 20px;
  }

  footer a {
    text-align: center;
  }
}
